
<div id="page-cover">
    
    <div  class="modal-dialog">
        <div  id="main-content" class="modal-content">

            <div  class="modal-body">
                <div class="container">
                    <div class="">

                        <br/>
                        <p class="ccenter size-large italic"> Thank You, Please Visit Us Again!</p>

                        <p class="ccenter size-semi-large"> Your table number is: <span style="font-weight: 800;">{{order.orderId}}</span> </p>

                        <p class="ccenter">
                            <a routerLink="/homepage">
                                <button class="btn btn-info"> Start a New Order</button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>