
#page-cover{
    height: 100%; 
    width: 100%; 
    position: absolute; 
    z-index: -100;
    background-image: url("https://images.unsplash.com/photo-1415025148099-17fe74102b28?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2040&q=80");
    background-color: brown;
}
#main-content{
    margin-top: 15%;
    height: 35%;
    width: 60%;
}
#main-content-2{
    margin-top: 15%;
    height: 30em;
    width: 150em;
}

#menu-content{
    height: 100%;
}

#button-alignment{
    margin-left: 10%; 
    margin-top: 7%;
    margin-right: 2%;
    height:55%;
    width: 40%;
}


#button-alignment-2{
    
    margin-top: 7%;
    height:55%;
    width: 40%; 
}